@import './variables.scss';

.logo{
    width:200px;
    height: 200px;
    padding: 5px;
    margin:10px;
    background: $gradient;
    border-radius: 5%;
    cursor: default;
    background-size: 400% 100%;
    animation: gradient-anim 3s alternate infinite;
    .inner{
        width:90%;
        height: 90%;
        margin:5%;
        background-color: $background;
    }
    .inner h1{
        text-align: center;
        font-family: 'Fascinate Inline', cursive;
        line-height: 160px;
        font-size: 200px;
        background: $gradient;
        background-size: 400% 100%;
        animation: gradient-anim 3s alternate infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.siteTitle{
    text-align: center;
    font-size: 9vw;
    font-family: 'Fascinate Inline', cursive;
}

header{
    border-bottom: black solid 2px;
    width:100%;
    display: flex;
    margin-bottom: 50px;;
}