$gradient: linear-gradient(217deg, rgba(255,255,54,.9), rgba(255,255,54,.2) 70.71%),
linear-gradient(127deg, rgba(29,255,217,.9), rgba(29,255,217,.2) 70.71%),
linear-gradient(336deg, rgba(255, 114, 236, 0.9), rgba(255, 114, 236, .2) 70.71%);
$background:rgb(254, 255, 240);

@keyframes gradient-anim{
    from{
        background-position: 0 0;
    }
    to{
        background-position: 100% 100%;
    }
}