@import '../variables.scss';

.blogTitle{
    font-family: 'Fascinate Inline', cursive;
}

.blog{
    .body{
        background-color: rgba( $background, .8);
        padding: 10px;
        margin-bottom: 10px;
    }
    .goToBlog{
        display: inline-block;
        vertical-align: middle;
        a{
            height: 100%;
            text-decoration: none;
            color:black;
            padding:5px;
        }
    }
    padding: 10px;
    background: $gradient;
    background-size: 100%;
}